:root{
    --c1: #E3FEF7;
    --c2: #77B0AA;
    --c3: #135D66;
    --c4: #003C43;
}
body{
    background-color: white;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
div{
    
}
@media (width <= 365px) {
    body{
        min-width: 365px;
    }
}
header{
    /* variables */
    --buttonSize: 30px;
    --titleSize: 20px;
    /**/
    overflow: auto;
    background-color: aliceblue;
    max-height: 140px;
    max-width: 480px;
    #Logo{
        float: left;
        margin-left: 10px;
        img{
            width: 100px;
            margin-top: 10px;
        }
        p{
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
    a{
        border: 1px green solid;
        float: right;
    }
    #Login{
        margin-top: 50px;
        margin-right: 20px;
        font-size: var(--buttonSize);
    }
    #Register{
        margin-top: 50px;
        margin-right: 10px;
        font-size: var(--buttonSize);
    }
    #PageTitle{
        float: left;
        margin-top: 40px;
        margin-left: 10px;
        font-size: var(--titleSize);
    }
}
#imgHeader{
    max-height: 400px;
    max-width: 480px;
    background-color: var(--c3);
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#cardImg{   /* BANK CARD */
    margin-left: 70px;
    border-radius: 6% 6% 6% 6%;
    box-shadow: 4px 4px 30px rgb(154, 203, 219);
}
footer{
    position: absolute;
    bottom: 0;
    overflow: auto;
    background-color: var(--c4);
    max-height: 140px;
    max-width: 480px;
    width: 480px;
    p{
        float: left;
        margin-left: 15px;
        color: var(--c1);
    }
    a{
        line-height: 50px;
        margin-left: 20px;
        margin-right: 20px;
        color: var(--c1);
    }
    img{
        float: right;
        width: 30px;
        margin-top: 5px;
    }
    #twitter{
       padding-right: 10px;
       padding-left: 10px;
    }
}