body{
    background-color: white;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
header{
    display: flex;
}
main{
    flex-wrap: wrap;
}
#footer{
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
    background-color: var(--c4);
    div{
        display: flex;
    }
    p{
        font-size: 20px;
        margin: 10px;
        color: var(--c1);
    }
    a{
        font-size: 20px;
        margin: 10px;
        color: var(--c1);
    }
    img{
        width: 40px;
        margin: 20px;
        margin-right: 30px;
    }
}
/* COLOR */
:root{
    --c1: #E3FEF7;
    --c2: #77B0AA;
    --c3: #135D66;
    --c4: #003C43;
}
.buttonColor{
    color: #135D66;
    background-color: var(--c2);
}
.buttonColor:hover{
    color: var(--c1);
}
/* BUTTONS */
#buttonWindow{
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
/* CLASS TO CENTER DIVS*/
.center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/* DESIGN OF TEXT IN HEADER */
.headerText{
    line-height: 100px;
    margin-left: 10px;
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: calc(1em + 1vw);
    p{
        margin-top: -3px;
        text-align: center;
        font-size: 100%;
        white-space: nowrap;
    }
}
/* NO BLUE UNDERLINE UNDER LINKS */
a{
    text-decoration: none;
}


/* HOMEPAGE */

/* LOGO + TEXT IN HEADER */
#logo{
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
    p{
        margin: 0;
        color: var(--c3);
    }
}
/* BANK CARD BACKGROUND */
#imgHeader{
    max-height: 400px;
    background-color: var(--c3);
    margin-top: 20px;
    padding-top: 35px;
    padding-bottom: 40px;
}
#cardImg{   /* BANK CARD */
    max-height: 100%;
    max-width: 500px;
    border-radius: 6% 6% 6% 6%;
    box-shadow: 4px 4px 30px rgb(154, 203, 219);
}


/* LOGIN PAGE */

/* LOGIN WINDOW */
/* ALSO USED FOR REGISTER WINDOW */
.login{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 150px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(154, 203, 219);
    p{
        font-size: 35px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 2px var(--c3) solid;
    }
}
/* INPUT FIELDS - LOGIN / REGISTER WINDOW */
input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
/* HIDES ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


/* ACCOUNT PAGE */
/* SAME WINDOW AS LOGIN / REGISTER */

#accountHeader{
    background-color: var(--c1);
    height: 100px;
}
#welcomeText{
    font-size: 30px;
    margin-left: 10%;
    margin-right: 7%;
}
#labelBalance{
    font-size: 40px;
    padding-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
    border-bottom: 2px var(--c3) solid;
}
#outputBalance{
    font-size: 20px;
    margin: 20px;
    margin-bottom: 20px;
    margin-right: 30%;
    margin-left: 30%;
}
#accountBalance{
    border: 2px var(--c3) solid;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(--c2) ;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 20px;
    padding-top: 5px;
}