body{
    background-color: white;
    font-family: 'Arial';
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.buttonColor{
    color: #135D66;
    background-color: #77B0AA;
}
.center{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
header{
    display: flex;
    justify-content: space-between;
    max-height: 97px;
}
a{  /* no blue underline below links */
    text-decoration: none;
}
#konto{
    white-space: nowrap;
}
#logo{ 
    width: 75px;
    margin-left: 10px;
    p{
        margin: 0;
        color: #135D66;
    }
}
.headerText{
    line-height: 100px;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: calc(1em + 1vw);
    p{
        margin-top: -3px;
        text-align: center;
        font-size: 100%;
        white-space: nowrap;
    }
}
#imgHeader{ /* bank card background on home page */
    max-height: 400px;
    background-color: cadetblue;
    margin-top: 20px;
    padding-top: 35px;
    padding-bottom: 40px;
}
#cardImg{   /* bank card on home */
    max-height: 100%;
    max-width: 500px;
    border-radius: 6% 6% 6% 6%;
    box-shadow: 4px 4px 30px rgb(154, 203, 219);
}


/* LOGIN PAGE */


.login{
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    min-width: 150px;
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgb(154, 203, 219);
    p{
        font-size: 35px;
        text-align: center;
        padding-bottom: 10px;
        border-bottom: 2px #135D66 solid;
    }
}
input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
input::-webkit-outer-spin-button, /*hides arrows*/
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    letter-spacing: 50%;
}


/* REGISTER PAGE */

#log{
    font-size: 20px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}


/* ACCOUNT PAGE */


