<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>

        <link rel="stylesheet" href="css/stylesheet.css">

    </head>
    
    <body>
        
        <div class="container flexCol border">


            <div id="header" class="flex border">

                <div id="logo">
                    <a href="/">
                        <img id="imageLogo" src="img/Logo.png">
                        <b><p id="textLogo">Constantin Banking</p></b>
                    </a>
                </div>
            
                <div id="pageTitle">
                    <p class="headerText">Account</p>
                </div>

                <div id="balanceDiv" class="flex">
                    <p>Current Balance:&nbsp;</p>
                    <p id="currentBalance"></p> 
                    <p>€</p>
                </div>
                
                <div class="headerButtons">
                    <a id="loginButton" class="buttons" href="/">back to homepage</a>
                    <a id="registerButton" class="buttons" href="login">LOGOUT</a>
                </div>
            </div>
    
            <div style="flex: 1;" id="accMain" class="main border flex">


                <div id="login" class="border">
                
                    <p>Transaction</p>
                    <form id="transactionForm" class="flexCol" action="account" method="post">
                        <b><label>PIN</label></b>
                        <input type="password" maxlength="4" placeholder="1234" id="pin" name="pin">
                        <b><label>Deposit Money</label></b>
                        <input type="text" placeholder="00.00€" id="depositAmount" name="deposit">
                        <input type="submit" value="Deposit" id="deposit" class="submitButton"> <br>
                        <b><label>Withdraw Money</label></b>
                        <input type="text" placeholder="00.00€" id="withdrawAmount" name="withdraw">
                        <input type="submit" value="Withdraw" id="withdraw" class="submitButton">
                    </form>
                </div>
                
                <div id="transactionDiv" class="border">
                        
                        
                    <p id="thTitle">Transaction History</p>
                    <p id="transactions"></p>
                </div>
           
            </div>


            
        </div>
        

        <script src=""></script>

    </body>
    
</html>