.flex {
    display: flex;
}

/* COLOR */
:root {
    --c1: #E3FEF7;
    --c2: #77B0AA;
    --c3: #135D66;
    --c4: #003C43;
}

.button{
    color: var(--c3);
    background-color: var(--c2);
    border-radius: 5px;

    display:inline-block; /* necessary for using margin-top */
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    font-size: 30px;
}

.button:hover{
    transition-duration: 0.4s;
    color: var(--c1);
    background-color: var(--c3);
}

/* NO BLUE UNDERLINE UNDER LINKS */
a{
    text-decoration: none;
}

body{
    font-family: 'Arial';
    margin: 0;
    padding: 0;

    /* HEADER FOR HOMEPAGE / LOGIN / REGISTER */
    #header{
        
        #logo{
            max-width: 75px;
            padding: 10px;
            margin-left: 20px;
            margin-right: 20px;

            #imageLogo{
                width: 75px;
            }
            p{
                margin: 0;
                color: var(--c3);
                text-align: center;
            }
        }

        .headerText{
            margin: 0;
            margin-left: 50px;
            margin-right: 20px;
            padding-top: 40px;
            font-size: 40px;
            color: var(--c3);
            text-align: left;
        }
    }
    
    #body.account{
        height: 720px;
    }
    #body.register{
        height: 480px;
    }
    #body.login{
        height: 360px;
    }
    #body{

        height: 600px;
        background-color: var(--c3);
        text-align: center;
        justify-content: center;

        /* HOMEPAGE */
        #imageBankCard{
            width: 600px;
            margin-top: 100px;
            border-radius: 27px 27px 27px 27px;
            box-shadow: 4px 4px 30px rgb(154, 203, 219);
            transition: 0.5s;
        }
        #imageBankCard:hover{
            width: 630px;
            margin-top: 90px;
        }

        /* INPUT FORM IN BODY */
        .inputForm, #transactionDiv{
            
            background-color: white;
            padding: 10px;
            padding-right: 25px;
            padding-left: 15px;
            margin-left: 30px;
            border-radius: 5px;
            box-shadow: 2px 2px 20px rgb(154, 203, 219);
            
            p{
                font-size: 35px;
                padding-bottom: 10px;
                border-bottom: 2px var(--c3) solid;
            }
            #transactions{
                border-bottom: none;
                overflow: scroll;
                max-height: 100%;
                text-align: left;
                font-size: 25px;
            }
        }
        #transactionDiv{
            overflow: hidden;
        }
        /* ACCOUNT PAGE */
        #balanceDiv{
            justify-content: center;
        }

    }

 
    #footer {

        position: absolute;
        width: 100%;
        bottom: 0;
        height: 80px;
        background-color: var(--c4);
        text-align: center;
        font-size: 20px;
        
        img{
            padding: 10px;
            padding-top: 20px;
            padding-right: 20px;
            width: 40px;
            height: 40px;
        }
        p{
            color: var(--c1);
            margin: 0;
            padding: 10px;
            padding-top: 25px;
        }
        a{
            color: var(--c1);
            padding: 10px;
            padding-top: 25px;
        }
    }
}



/* INPUT FIELDS - LOGIN / REGISTER WINDOW */
input[type=text], input[type=password], input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type=submit]{
    padding: 5px;
    margin-bottom: 60px;
    margin-top: 0;
    border: 2px var(--c2) solid;
    font-size: 30px;
}
#pin{
    margin-bottom: 50px;
}
/* HIDES ARROWS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
